body{
  margin: 0px;
}
#dashboard{
  padding: 15px;
  text-align: center;
}
#dashboard fieldset{
  width: 350px;
  display: inline;
}
#dashboard fieldset label{
  margin: 60px;
}
#ground{
  background: url('../images/ground.jpg');
  border-spacing: 0px;
  height: 1000px;
  width: 1286px;
  padding: 70px;
}
#ground tr{
  display: inherit;
}
.square{
  border: 1px solid white;
  width: 48px;
  height: 48px;
  float: left;
  text-align: center;
  color: white;
}
.mars-rover{
  position: absolute;
  width: 50px;
  height: 50px;
}
.e{
  transform: rotate(90deg);
}
.s{
  transform: rotate(180deg);
}
.w{
  transform: rotate(270deg);
}
